<div id="wrapper">
    <div class="container">
        <div class="row">
              <div class="col-md-3">
                  <div class="circle c1 img-circle">
                      <h4 class="blue">Проект</h4>
                      <span class="icon blue"><i class="fa fa-eur"></i></span>
                      <span class="price-large blue">8</span>
                      <span class="price-small blue">,90</span>
                      <b><a class="blue" href="#" data-toggle="modal" data-target=".bs-example-modal-lg">Подробнее</a></b>
                  </div>
              </div><!-- .Col-md-3 ends here -->
              <div class="col-md-3">
                  <div class="circle c2 img-circle">
                      <h4 class="yellow">Проект+</h4>
                      <span class="icon yellow"><i class="fa fa-eur"></i></span>
                      <span class="price-large yellow">54</span>
                      <span class="price-small yellow">,90</span>
                      <b class="yellow">Подробнее</b><br>
                  </div>
              </div><!-- .Col-md-3 ends here -->
          <div class="col-md-3">
                  <div class="circle c3 img-circle">
                      <h4 class="green">Команда</h4>
                      <span class="icon green"><i class="fa fa-eur"></i></span>
                      <span class="price-large green">54</span>
                      <span class="price-small green">,90</span>
                      <b class="green">Подробнее</b><br>
                  </div>
              </div><!-- .Col-md-3 ends here -->
          <div class="col-md-3">
                  <div class="circle c4 img-circle">
                      <h4 class="red">Компания</h4>
                      <span class="icon red"><i class="fa fa-eur"></i></span>
                      <span class="price-large red">8</span>
                      <span class="price-small red">,90</span>
                      <b class="red">Подробнее</b><br>
                  </div>
              </div><!-- .Col-md-3 ends here -->
        </div><!-- .Container ends here -->
    </div><!-- .Row ends here -->
</div>




<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4">.col-md-4</div>
          <div class="col-md-4 col-md-offset-4">.col-md-4 .col-md-offset-4</div>
        </div>
        <div class="row">
          <div class="col-md-3 col-md-offset-3">.col-md-3 .col-md-offset-3</div>
          <div class="col-md-2 col-md-offset-4">.col-md-2 .col-md-offset-4</div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
        </div>
        <div class="row">
          <div class="col-sm-9">
            Level 1: .col-sm-9
            <div class="row">
              <div class="col-xs-8 col-sm-6">
                Level 2: .col-xs-8 .col-sm-6
              </div>
              <div class="col-xs-4 col-sm-6">
                Level 2: .col-xs-4 .col-sm-6
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Закрыть</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
  </div>
</div>

